*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ECEEF1;
    font-family: Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
}

.sign-in  {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.sign-in small  {
    float: right;
    display: block;
    margin-right: 8px;
    text-align: right;
    font-size: 13px;
}

.sign-in-btn {
    float: right;
    padding: 9px 18px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0077c5;
    border: none;
    color: white;
}

.sign-in small a {
    text-decoration: none;    
}

.second-line {
    margin-top: 5px;
}

.logo img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
}